.body {
color: #353535;
font-family: 'Courier New', Courier, monospace;
display: block;
text-align: center;
}
.btn {
    color: #fff;
    background-color: #327da8;
    border-radius: 80px;
}

btn:hover {
    background-color: #3898cf;
}

#textarea {
    background-color: #f5f5f5;
}

.footer {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}